<style>
#aboutcomment{
  font-size:1rem;}
#aboutme p{
 
    margin-bottom: 0px;
    color: black;

}
</style>

<div class='container'>
     <div class="fb-like" data-href="https://www.facebook.com/1%EC%9D%BC-1%EC%95%94%EC%86%A1-Mynavi-222062524860049/" style="text-align:right;" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div><br>
  <h1>NAVIGATOR </h1>
    <h2>주제별 성경암송</h2><br>

  <!--<div class="button-container">-->
  
    <form action="/home/details" method="get">
         <input type="hidden" name="chapter" value="0">
         <input class='button -dark center' style="width: 100%"  type="submit" value="그리스도인의 확신">
    </form><br>
    
    <form action="/home/details" method="get">
         <input type="hidden" name="chapter" value="2">
         <input class='button -green center' style="width: 100%"  type="submit" value="그리스도인의 생활지침">
    </form><br>
    
    <%= link_to "/home/verse60", :action => 'go' do %>
    	<div class='button -regular center'>60 구절</div>
	  <% end %><br>
    
 <!--   <%= link_to "/home/details", :action => 'go' do %>-->
 <!--       <div class='button -dark center'>그리스도인의 확신</div>-->
 <!--   <% end %><br>-->
    
 <!--   <%= link_to "/home/details", :action => 'go' do %>-->
 <!--   	<div class='button -green center'>그리스도인의 생활지침</div>-->
	<!--<% end %><br>-->
    
 <!--   <%= link_to "/home/verse60", :action => 'go' do %>-->
 <!--   	<div class='button -regular center'>60 구절</div>-->
	<!--<% end %><br>-->
	
	<!--<%= link_to "/home/verse60", :action => 'go' do %>-->
 <!--       <div class='button -blue center'>전도를 위한 암송</div>-->
	<!--<% end %><br>-->
    
    

        
    <!--<div class='button -salmon center'>Now that I like</div>-->
    
    <!--<div class='button -sun center'>God, that's so nice</div>-->
    
    <!--<div class='button -alge center'>Now lower down</div>-->
    
    <!--<div class='button -flower center'>Where the figs lie</div>-->
    

    
  <!--</div>-->
</div><br><br>
    


<div class='container' >
    <div id="aboutcomment">
      <p>If you have any questions or problems with MYNAVI.</p>
      <P>Please let me know, It will be really useful for me.</P>
      <p>And, Thank you for using my service :)</p><br>
    </div>
    
    <div id="aboutme">
        <p>Choi Ji Hye</p> 
        <p>Choijam@likelion.org</p>
    </div>
  
 
</div>



<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.9&appId=1700658206906095";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



<script>
	var	body     = document.getElementsByTagName('body')[0],
    twitter  = document.getElementsByClassName('twitter')[0];

twitter.addEventListener("mouseover",function() {
    body.classList.add('linked');
},false);

twitter.addEventListener("mouseout", function() {
    body.classList.remove('linked');
}, false);
</script>